[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"

[packages]
tensorflow = "==1.13.1"
mujoco-py = "==1.50.1.68"
easy-tf-log = "*"
sacred = "*"
gym = "*"

[requires]
python_version = "3.7"
