[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"

[packages]
tensorflow = "==1.15.4"
easy-tf-log = "==1.10"
sacred = "==0.7.5"
gym = "==0.13.0"
pyglet = "==1.3.2"  # Required for gym
pymongo = "*"  # Sacred apparently needs this
gitpython = "*"  # Sacred needs this to record git revisions

[requires]
python_version = "3.6"
